* {
    margin: 0;
    padding: 0;
}

:root {
    --light-gray: #EEEEEE;
    --aqua-blue: #00adb5;
    --dark-gray: #393e46;
    --light-black: #222831;
}

html {
    height: 100%;
}

body {
    font-family: Menlo, Arial, Helvetica, sans-serif;
    color: var(--light-gray);
    background:linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(fc0125579e7ad3fa228d6ef06be893e8.jpeg);
    height: 100%;
    background-attachment: fixed; /* makes content not scroll with the page */ 
}
                    /* NAVBAR COMPONENT */
.desktop-nav-bar {
    display: none;
    transition: all .5s;
}

.desktop-nav-links {
    display: inline-block;
}


.mobile-nav-bar {
    background-color: var(--dark-gray);
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.mobile-nav-links {
    fill: var(--light-gray);
}

                /* HEADER COMPONENT */
.container {
    width: 85%;
    margin: 50px auto 10px auto;
    text-align: center;
}

.header-name {
    margin-top: 20px;
    font-weight: 100;
}

.portrait {
    width: 235px;
    filter: grayscale(100%)
}

/* BODY COMPONENT */
.body-container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.project-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.content-container {
    max-width: 770px;
    margin: 0 auto;
    background: rgba(57, 62, 70, .5);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.3);
}


.project-name {
    margin-bottom: 12px;
    padding: 10px;
}

.project-name span {
    display: block;
    font-size: 17px
}

.project-details {
    padding: 10px;
}

.project-link {
    color: var(--aqua-blue);
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.icons {
    fill: var(--aqua-blue);
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.icons:hover {
    fill: rgba(0, 172, 181, 0.4)

}

.tech-stack-icons {
    width: 50px;
}

.spacer {
    max-width: 770px;
    margin: 0 auto;
    padding: 10px;
    visibility: hidden;
}

.icon-column-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px
}

.react-modal {
    width: 80%;
    max-width: 650px;
    background-color: var(--light-black);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    border-radius: 30px;
    outline: none;
    transform: translate(-50%, -50%);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5)
}

.modal-header {
    border-bottom: 2px solid var(--aqua-blue);
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
}

.modal-details {
    text-align: center;
    padding: 5px;
}

.video-peek {
    margin: 0 auto;
    height: 225px;
    width: 100%;
    max-width: 500px;
}

.modal-link {
    color: var(--aqua-blue);
    display: block;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}

.modal-link:hover {
    color: rgba(0, 172, 181, 0.4);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 700ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}



@media screen and (min-width: 770px){
    .container {
        max-width: 940px;
        text-align: left;
    }

    .body-container {
        max-width: 940px;
    }

    .icon-column-container {
        display: block;
    }

    .video-peek {
        height: 340px;
    }

    .project-header {
        text-align: left;
    }

    .content-container {
        display: flex;
        align-items: center;
    }

    .project-name {
        margin-bottom: 0;
        flex-basis: 50%
    }

    .project-details {
        flex-basis: 50%
    }
}
              
@media screen and (min-width: 800px){
    .mobile-nav-bar-container {
        display: none;
    }

    .desktop-nav-bar-container {
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .desktop-nav-bar {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    .desktop-nav-links {
        margin-left: 50px;
        color: var(--light-gray);
        text-decoration: none;
    }
}

/*# sourceMappingURL=styles.css.map*/